.recent_projects_container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
}
.photo_container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 125px;
}
.mobile_photo_container {
  display: none;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 125px;
}
.recent_projects_sec_row_container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 125px;
}
.title h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: #1b116d;
  margin-bottom: var(--margin-bottom-16);
}
.img_padding {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .photo_container {
    display: none;
  }
  .mobile_photo_container {
    display: block;
  }
}
