.container {
  width: 100vw;
  margin: 0 auto;
  background-color: white;
  margin-top: 125px;
  margin-bottom: 125px;
}
.row_conatiner {
  width: 90vw;
  margin: 0 auto;
}
.row_conatiner h6 {
  color: #218b8a;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.row_conatiner h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  color: var(--grey-green);
  margin-bottom: var(--margin-bottom-16);
}
.row_conatiner p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-grey);
  line-height: 26px;
  font-family: "inter" sans-serif !important;
}
.key_point_Quality {
  margin-top: 25px;
}
.key_point_Quality h6 {
  font-weight: 600;
  font-size: 20px;
}
.key_point_Quality span {
  vertical-align: top;
  padding-right: 10px;
}
.key_point_Insured {
  margin-top: 25px;
}
.key_point_Insured h6 {
  font-weight: 600;
  font-size: 20px;
}
.key_point_Insured span {
  vertical-align: top;
  padding-right: 10px;
}
@media screen and (max-width: 1090px) {
  .row_conatiner h2 {
    font-size: 48px;
  }
  .list_row_icons {
    width: 50vw;
  }
}
@media screen and (max-width: 959px) {
  .list_row_icons {
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  .row_conatiner {
    width: 96vw;
    margin: 0 auto;
  }
}
