.container {
  width: 100vw;
  margin: 0 auto;
  background-color: white;
  margin-top: 125px;
  margin-bottom: 125px;
}
.row_conatiner {
  width: 90vw;
  margin: 0 auto;
}
.row_conatiner h6 {
  color: #218b8a;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.row_conatiner h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 52px;
  color: var(--grey-green);
  margin-bottom: var(--margin-bottom-16);
}
.row_conatiner p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-grey);
  line-height: 26px;
  font-family: "inter" sans-serif !important;
  margin-bottom: var(--margin-bottom-16);
}

.icons {
  display: flex;
}
.icons ul {
  display: contents;
}
.icon li {
  font-size: 35px;
  color: #2c6b77;
  font-weight: 600;
}
.key_highlight h5 {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #2c6b77;
  font-weight: 600;
}
.material_icon {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../public/Materials_B_Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.Insured_icon {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../public/Cert_B_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.Skilled_icon {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../public/Hat_B_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.Projects_icon {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../public/Projects_B_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1090px) {
  .row_conatiner h2 {
    font-size: 48px;
  }
  .list_row_icons {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .row_conatiner {
    width: 96vw;
    margin: 0 auto;
  }
  .material_icon,
  .Insured_icon,
  .Skilled_icon,
  .Skilled_icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .row_conatiner h2 {
    font-size: 42px;
    line-height: 52px;
  }
  .container {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .image_container img {
    object-position: top !important;
  }
  .key_highlight h5 {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #2c6b77;
    font-weight: 600;
  }
  .material_icon,
  .Insured_icon,
  .Skilled_icon,
  .Skilled_icon {
    width: 50px;
    height: 50px;
  }
}
